/*
CSS controls the styling of the page.
You can write a color in directly, or use variables.
Try changing the color from blue to red in the
primary color variable below.
*/

* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

html {
	font-size: 16px;
	height: 100%;
}

body {
	font-size: 1em;
	line-height: 1.5;
	height: 100%;
}

h1 {
	font-size: 2em;
	color: var(--color-primary);
}

p {
	font-size: 1em;
}

a {
	font-size: 0.8em;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
	content: "";
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.bc {
	background-color: #43D6DD;
}

/* landing page */
.home-title {
	color: black;
	text-align: center;
	font-size: 36px;
	font-style: normal;
	font-weight: 800;
	line-height: normal;
	margin: 0 auto;
}

.map-container {
	position: relative;
	width: fit-content;
	height: fit-content;
}

.map {
	width: 100%;
	display: block;
}

.lil-bear {
	position: absolute;
	top: 25%;
	left: 12%;
	display: block;
}

.lil-alligator {
	position: absolute;
	top: 62%;
	left: 26%;
	display: block;
}

.lil-elephant {
	position: absolute;
	top: 34%;
	left: 38%;
	display: block;
}

.lil-giraffe {
	position: absolute;
	top: 54%;
	left: 48%;
	display: block;
}

.lil-panda {
	position: absolute;
	top: 30%;
	left: 71%;
	display: block;
}

.lil-kangaroo {
	position: absolute;
	top: 60%;
	left: 80%;
	display: block;
}

.namerica {
	position: absolute;
	font-size: .75rem;
	top: 24%;
	left: 14%;
	white-space: nowrap;
	display: block;
	color: #3c9e6d;
	font-weight: bold;
}

.samerica {
	position: absolute;
	font-size: .75rem;
	top: 61%;
	left: 20%;
	display: block;
	color: #dda652;
	font-weight: bold;
}

.africa {
	position: absolute;
	font-size: .75rem;
	top: 52%;
	left: 48%;
	display: block;
	color: #4fd8da;
	font-weight: bold;
}

.euroasia {
	position: absolute;
	font-size: .75rem;
	top: 26%;
	left: 60%;
	display: block;
	color: #7a8d17;
	font-weight: bold;
}

.oceania {
	position: absolute;
	font-size: .75rem;
	top: 74%;
	left: 80%;
	display: block;
	color: #b97f37;
	font-weight: bold;
}

.click-prompt-content {
	margin-top: 15px;
}

.click-prompt {
	text-align: center;
}

.kids {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

/* name-card page */

.home-button {
	color: black;
	padding: 12px 24px;
	margin: 15px;
	background-color: #FFD700;
	border: none;
	position: relative;
	border-radius: 15px;
	width: fit-content;
}

.name-card-container {
	background-color: white;
	border-radius: 15px;
	height: 240px;
	width: 95%;
	margin: 0 auto 8px;
}

.hide {
	display: none;
}

.show {
	display: block;
}

.name {
	padding: 8px 24px 0;
}

.facts {
	line-height: 36px;
	padding: 0 24px;
}

.animal-img {
	width: 80%;
	padding-left: 80px;
	margin-top: -125px;
}

.say-hi-button {
	padding: 15px 25px;
	text-decoration: none;
	margin-top: 20px;
	margin-left: 20px;
	background-color: #FFD700;
	color: black;
	width: fit-content;
	position: relative;
	border-radius: 15px;
}

.say-hi-button::before {
	content: '';
	position: absolute;
}

/* chat screen page */

.back-buttom {
	padding: 15px 25px;
	margin-top: 20px;
	margin-left: 20px;
	background-color: #FFD700;
	border: none;
	color: black;
	position: relative;
	border-radius: 15px;
	width: fit-content;

}

.user-selection-chat {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100px;
	text-align: center;
	align-items: stretch;
	margin: 12px;
}

.user-selection-chat p {
	margin: 12px 0;
}

.animal-name {
	padding-top: 10px;
	padding-left: 40px;
	text-align: center;
}

.header {
	display: flex;
	flex-direction: row;
}

.chat-container {
	background-color: white;
	padding-left: 10px;
	padding-top: 10px;
}

.avatar-message {
	display: flex;
	align-items: center;
	flex-flow: row nowrap;
	justify-content: flex-start;
	width: 90%;
}

.ani-profile1 {
	align-self: center;
	width: 45px;
	height: 45px;
}

.hello {
	background-color: #343A40;
	color: white;
	padding: 10px;
	width: fit-content;
	margin-left: 10px;
	border-radius: 10px;
	position: relative;
}

.hello::before {
	content: "";
	position: absolute;
	top: 50%;
	left: -8px;
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-right: 10px solid #343A40;
	border-bottom: 10px solid transparent;
	transform: translateY(-50%);
}


.user-where {
	background-color: #343A40;
	color: white;
	padding: 10px;
	width: fit-content;
	border-radius: 10px;
	margin: 15px 10px 15px auto;
	position: relative;
}

.user-where::before {
	content: "";
	position: absolute;
	top: 50%;
	right: -8px;
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-left: 10px solid #343A40;
	border-bottom: 10px solid transparent;
	transform: translateY(-50%);
}

.prompt-where {
	padding: 15px 25px;
	background-color: #FFD700;
	border-radius: 5px;
	position: relative;
}

.prompt-food {
	padding: 15px 25px;
	background-color: #FFD700;
	border-radius: 5px;
	position: relative;
}

.prompt-sound {
	padding: 15px 25px;
	background-color: #FFD700;
	border-radius: 5px;
	position: relative;
}


/*
CSS doesn't allow variables to be used in media
queries just yet, but you can use these values
to help you out.

	--size-xs: 320px;
	--size-sm: 480px;
	--size-md: 768px;
	--size-lg: 1024px;
	--size-xl: 1200px;
*/

.home-main {
	width: 100%;
	height: 100vh;
	background-color: #43d6dd;
}

.kids-content {
	width: 80%;
	height: 254px;
	margin: 40px auto 0;
}

.name-card {
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

.name-header {
	height: 62px;
	line-height: 62px;
}

.say-hi-content {
	margin-top: -82px;
}

.chat-list {
	min-height: 30vh;
	height: calc(100vh - 245px - 62px);
	overflow: hidden auto;
}

.default-list {
	position: fixed;
	width: 100%;
	bottom: 2%;
	height: 245px
}

.kangaroo {
	margin-top: -44px;
	padding-left: 70px;
}

.panda {
	padding-left: 130px;
	margin-top: -124px;
}

.elephant {
	padding-left: 70px;
	margin-top: -16px;
}

.alligator {
	padding-left: 70px;
	margin-top: -94px;
}

.bear {
	padding-left: 80px;
	margin-top: -150px;
}


/* This uses the same value as --size-xs. */

/* put media queries code for iPad down here */
@media screen and (width >=320px) {
	.content-container {
		margin: 0 auto;
		max-width: 768px;
	}

	.lil-kangaroo {
		top: 66%;
		left: 82%;
	}

	.lil-panda {
		top: 38%;
		left: 75%;
	}

	.lil-giraffe {
		top: 58%;
		left: 50%;
	}

	.lil-elephant {
		top: 40%;
		left: 40%;
	}

	.lil-alligator {
		top: 70%;
		left: 28%;
	}

	.lil-bear {
		top: 30%;
		left: 16%;
	}

	.oceania {
		left: 82%;
	}

	.euroasia {
		top: 30%;
		left: 66%;
	}

	.samerica {
		top: 66%;
		left: 25%;
	}
}

@media screen and (width >=1024px) {
	.say-hi-button {
		margin-left: 40px;
	}

	.bear {
		margin-top: -305px;
	}

	.namerica {
		font-size: 1rem;
	}

	.samerica {
		font-size: 1rem;
	}

	.africa {
		font-size: 1rem;
	}

	.euroasia {
		font-size: 1rem;
	}

	.lil-kangaroo {
		width: 80px;
	}

	.lil-panda {
		width: 80px;
	}

	.lil-giraffe {
		width: 80px;
	}

	.lil-elephant {
		width: 80px;
	}

	.lil-alligator {
		width: 80px;
	}

	.lil-bear {
		width: 80px;
	}
}